@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #edf0f1;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .input {
    @apply max-md:text-sm dark:bg-pale-blue bg-white-second w-full pl-2 text-white-primary 
    border-none outline-none text-base rounded-lg;
  }

  .label {
    @apply text-base dark:text-cyber-blue text-slate-blue font-poppins font-semibold;
  }
}
/* Scrollbar Design with Compatibility to some browsers */

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 8px; /* Adjust width as needed */
  background: #222; /* Dark background color */
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #444; /* Black thumb color */
  border-radius: 6px; /* Add some rounding for aesthetics (optional) */
}
